@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

.AboutContainer {
  width: 100vw;
  height: 100vh;
  background: -webkit-linear-gradient(to right, #1d2671, #c33764);
  background: linear-gradient(to right, #1d2671, #c33764);
}

.Home {
  font-size: 30px;
  font-family: "Staatliches", cursive;
  text-decoration: none;
  color: black;
  width: 190px;
  height: 40px;
  position: absolute;
  left: 367px;
  top: 30px;
  border: 1px solid black;
  border-radius: 100px 0px 100px 0px;
}

.Home:hover {
  box-shadow: 5px 5px 20px 3px rgba(255, 255, 255, 0.3) inset;
}

.about {
  font-size: larger;
  color: black;
  font-family: "Staatliches";
  .aaa {
    color: black;
  }
  position: absolute;
  top: 400px;
}

.aboutContent {
  font-size: 20px;
}

/*
    --------------------------------------
                MEDIA QUERYS
    --------------------------------------
*/

$minWidth: 375px;
$mediWidth1: 446px;
$mediWidth2: 540px;
$mediWidth3: 712px;
$maxWidth1: 1022px;
$maxWidth2: 1920px;

@media (min-width: $minWidth) and (max-width: $mediWidth1) {
  .Home {
    width: 130px;
    height: 40px;
    position: absolute;
    left: 120px;
    top: 30px;
  }
}
