.CardContainer {
  display: inline-block;
  background-color: #450943;
  background-image: linear-gradient(
    43deg,
    #450943 0%,
    #c850c0 46%,
    #420d94 100%
  );
  width: 480px;
  margin: 0 auto;
  height: 50px;
  margin-bottom: 10px;
}

.body {
  visibility: hidden;
}

.CardContainer:hover {
  box-shadow: 2px 0px 13px 5px #05fc91 inset,
    7px 3px 9px 3px rgba(5, 252, 145, 0.57);
  cursor: pointer;
}

.name {
  text-align: center;
  color: white;
  border-bottom: solid thin white;
  text-transform: uppercase;
  font-weight: 100;
  line-height: 1.1;
  letter-spacing: 0.25em;
  margin: 0;
  padding: 0;
}

.temp {
  text-align: right;
  color: black;
}

/*
    --------------------------------------
                MEDIA QUERYS
    --------------------------------------
*/

$minWidth: 375px;
$mediWidth1: 446px;
$mediWidth2: 540px;
$mediWidth3: 712px;
$maxWidth1: 1022px;
$maxWidth2: 1920px;

@media (min-width: $minWidth) and (max-width: $mediWidth1) {
  .CardContainer {
    width: 350px;
  }
}
