.FooterContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 20vh;
}

.Linkedin, .Github, .Public, .Info{
    width: 0px;
    height: 0px;
    color: white;
}
